@import "tailwindcss";

:root {
	--foreground: "#000000";
	--primary-foreground: #ececec;
	--primary: #0f57e9;
	--primary-dark: #0953e9;
	--primary-text: #484848;
}

@theme inline {
	--color-primary: var(--primary);
	--color-primary-dark: var(--primary-dark);
	--color-primary-foreground: var(--primary-foreground);
	--color-foreground: var(--foreground);
	--color-primary-text: var(--primary-text);
	--font-sans: var(--font-inter);
	--font-mono: var(--font-inter);
}

.big-drop-shadow {
	box-shadow: rgba(0, 59, 1179, 0.14) 0px 10px 36px 0px;
}

.small-drop-shadow {
	box-shadow: rgba(0, 59, 1179, 0.14) 0px 4px 4px 0px;
}

.navbar-slide-up {
	animation: slideup 0.5s ease 0s 1 normal forwards;
}

@keyframes slideup {
	0% {
		opacity: 0;
		transform: translateY(500px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
